@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;900&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-family: "Inter";
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  background: #006370;
}

.nav-container a {
  color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5em;
}

header img {
  width: 15px;
  margin-left: 1.5em;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav ul a {
  padding: 0 1em;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.social-header,
.hero-design {
  display: none;
}

.title {
  display: -ms-grid;
  display: grid;
}

.hero {
  background: #c2dfe1;
  color: black;
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 2em;
  overflow: hidden;
  position: relative;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

.hero .vid {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0.2;
}

.hero .cover {
  display: none;
}

.hero .content {
  color: #ef9a9e;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-size: 1.5em;
  z-index: 0;
}

.hero .contact {
  z-index: 5;
}

.hero .contact button {
  background: #ef9a9e;
  margin: 0;
  padding: 0.5em 1em;
  border: 1px solid white;
  opacity: 0.9;
  border-radius: 500px;
  text-transform: uppercase;
  color: white;
  z-index: 10;
  cursor: pointer;
}

.hero .contact button:hover {
  background: #006370;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.meet {
  margin: 0 auto;
  margin-top: -0.5em;
  width: 300px;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #006370;
  letter-spacing: 0.4em;
  font-size: 0.9em;
}

.subtitle--2 {
  font-size: 0.6em;
  letter-spacing: 0.2em;
}

.featured-title {
  color: black;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: -0.5em;
  display: block;
}

.featured-desc {
  color: #1b1b1b;
  margin-bottom: 3em;
  margin-top: 1.2em;
  line-height: 1.8em;
  font-weight: lighter;
}

.right {
  overflow: hidden;
  border: 1px solid gray;
  max-width: 75%;
}

.TRA-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.TRA-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.TRA-info-container .TRA-img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 50%;
}

.TRA-info-container .TRA-desc {
  font-weight: lighter;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.skills-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.skills-icons .skill {
  max-width: 6em;
  padding: 10px;
}

.skills-icons .skill .skill-desc {
  font-weight: lighter;
}

@media only screen and (min-width: 500px) {
  .TRA-info-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 2em;
  }
  .TRA-info-container .TRA-desc {
    margin: 1em;
  }
}

@media only screen and (min-width: 800px) {
  .hero {
    max-height: 1000px;
    height: 60vh;
  }
  .hero .content {
    font-size: 4em;
  }
  .hero .contact {
    margin-top: -3.5em;
  }
  .work-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .work {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .left {
    min-height: 300px;
  }
}

@media only screen and (min-width: 1000px) {
  .hero {
    -ms-grid-columns: 50%;
        grid-template-columns: 50%;
  }
  .hero .vid,
  .hero .cover {
    left: 30%;
    width: 70%;
    bottom: 0;
    right: 0;
  }
  .hero .vid {
    top: auto;
    z-index: 0;
  }
  .hero .cover {
    display: initial;
    position: absolute;
    top: 0;
    content: "";
    margin: 0;
    padding: 0;
    background-image: -webkit-gradient(linear, left top, right top, from(#c2dfe1), color-stop(40%, #c2dfe100));
    background-image: linear-gradient(90deg, #c2dfe1 0%, #c2dfe100 40%);
    z-index: 1;
  }
  .hero .content {
    z-index: 5;
    font-size: 3em;
  }
}

@media only screen and (min-width: 2500px) {
  .hero {
    -ms-grid-columns: 70%;
        grid-template-columns: 70%;
  }
  .hero .content {
    font-size: 5em;
  }
}
/*# sourceMappingURL=main.css.map */