{{ define "main" }}

<head>
    {{ partial "head.html" . }}
</head>

<body>
    <div class="mx-auto max-w-4xl px-4">
        {{ partial "header.html" . }}
        <main>
            {{ partial "r-list.html" . }}
        </main>
        <footer class="pt-12">
            <hr>
            {{ partial "footer.html" . }}
        </footer>
    </div>
</body>
{{ end }}

{{ define "partials/r-list.html" }}
{{ partial "breadcrumb.html" . }}
<h1>{{ .Title }}</h1>
<ul class="list-none p-0 divide-y divide-dark/20">
    {{ range .RegularPages }}
    <li class="py-2">
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    </li>
    {{ end }}
</ul>
{{ end }}