{{ define "main" }}
<div class="col col-xl-8 border-bottom">
    <div class="d-none d-print-flex justify-content-center">
        <div class="alert alert-info text-center">Please go to <a href="http://jamesplank.co.uk/cv"
                class="alert-link">http://jamesplank.co.uk/cv</a> for a better view of this CV.</div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-4 order-1">
        </div>
        <div class="col-12 col-sm-4 text-center order-3 order-sm-2 pb-3">
            {{/* NAME */}}
            <a class="h1 link-underline-light" href="/">James Plank</a>
            <a class="d-none d-sm-block" href="http://jamesplank.co.uk">jamesplank.co.uk</a>
        </div>
        <div class="col-12 col-sm-4 order-2 order-sm-3">
            {{/* CONTACT */}}
            <ul class="list-unstyled text-end">
                <li><a href="mailto:james@jamesplank.co.uk">james@jamesplank.co.uk</a></li>
                <li><a href="https://orcid.org/0000-0001-8281-059X">ORCiD</a></li>
                <li><a href="https://github.com/jmsplank">GitHub</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <!-- LEFT COL -->
        <div class="col-12 col-sm-4 bg-dark text-light p-4">
            <article>
                <h2>Technical Skills</h2>
                <p class="my-0">Skilled in:</p>
                <ul>
                    <li>Python</li>
                    <li>MATLAB</li>
                    <li>Swift</li>
                    <li>Git</li>
                    <li>AWS</li>
                    <li>Google Firebase</li>
                    <li>CAD (AutoCAD & Fusion 360)</li>
                    <li>Javascript</li>
                    <li>Typescript</li>
                    <li>Adobe Suite</li>
                </ul>
                <p class="my-0">Familiar with:</p>
                <ul>
                    <li>C/C++</li>
                    <li>Fortran</li>
                    <li>IDL</li>
                    <li>OpenMP</li>
                    <li>Apache Groovy</li>
                </ul>
            </article>
            <article class="pt-4">
                <h2>Education</h2>
                <div class="my-4">
                    <p class="my-0">2020-2024</p>
                    <p class="my-0">PhD Doctorate of Philosophy - Physics</p>
                    <p class="my-1">University of Southampton</p>
                    <p class="px-2">Fluid Dynamics &#183; Turbulence &#183;
                        Magnetohydrodynamics &#183; Satellite Systems &#183; Simulation
                        &#183; Kinetic Theory &#183; Electrodynamics</p>
                </div>
                <div class="my-4">
                    <p class="my-0">2016-2020</p>
                    <p class="my-0">MPhys Physics with Astronomy</p>
                    <p class="my-1">University of Southampton</p>
                    <p class="px-2">Signal Processing &#183; Linear algebra &#183;
                        Computing &#183; Statistics &#183; Quantum Physics &#183;
                        Thermodynamics &#183; Electrodynamics &#183; Plasma Physics</p>
                </div>
                <p>A-Levels in Computing, Maths, Physics and Photography | Peter Symonds College, Winchester</p>
            </article>
            <article class="pt-4">
                <h2>Interests</h2>
                <ul>
                    <li>I'm a keen runner currently training for half marathon to
                        ultramarathon distance races, as well as multi-day trips on some of
                        the UK's most iconic paths and ways</li>
                    <li>Often writing code for fun, check my <a class="text-light"
                            href="http://github.io/jmsplank">GitHub</a> for some
                        examples.</li>
                    <li>Keen photographer</li>
                    <li>Slowly getting better at bouldering</li>
                </ul>
            </article>
        </div>
        <!-- Right Column -->
        <div class="col-12 col-sm-8 p-4">
            {{/* <article>
                <p>I am a PhD researcher currently working at the University of
                    Southampton. My interests are in problems at the frontier of physics
                    and computer science. I have particularly enjoyed roles working with
                    RF communications, embedded programming, and HPC simulations.</p>
            </article> */}}
            <article class="col gy-3">
                <h2>Experience</h2>
                <div class="px-4">
                    <h5>Software Engineer | 2025-Present</h5>
                    <p>Python &#183; Typescript &#183; Swift</p>
                    <p>Software engineering work.</p>
                </div>
                <div class="px-4">
                    <h5>Communications Engineer | QinetiQ | 2024-2025</h5>
                    <p>MATLAB &#183; Python</p>
                    <p>
                        Working in the Defence sector as a Communications Engineer,
                        specialising in RF communications systems in the underwater C4I
                        domain. I designed and tested novel algorithms and processes to
                        improve the performance of comms systems in challenging
                        environments, such as those with high levels of interference or
                        multipath propagation.
                    </p>
                </div>
                <div class="px-4">
                    <h5>PhD Researcher | University of Southampton | 2020-2024</h5>
                    <p>Python &#183; Fortran &#183; Git &#183; C++ &#183; OpenMP</p>
                    <p>
                        I applied cutting-edge simulation techniques to the study of
                        turbulence in magnetised plasmas, which I verified through
                        analysis of in-situ satellite observations from NASA satellites.
                        I have had the opportinuty to speak at multiple UK and
                        international conferences, as well as publish original research
                        in peer-reviewed journals, and collaborate with others,
                        providing valuable feedback and expertise. I also teach physics
                        and programming to undergraduate physicists.
                    </p>
                </div>
                <div class="px-4">
                    <h5>Software Engineering Contractor | Pytri | 2022-present</h5>
                    <p>Typescript &#183; Javascript &#183; SQL &#183; AWS &#183;
                        Python</p>
                    <p>Full-stack software engineer, working on projects in the
                        healthcare and sports industries.</p>
                </div>
                <div class="px-4">
                    <h5>Startup CTO | The Running Algorithm | 2020</h5>
                    <p>Typescript &#183; Javascript &#183; Firebase &#183; AWS</p>
                    <p>
                        I was responsible for tech demos to investors as well as
                        creating marketing material for customers and to obtain seed
                        funding. I was also the lead technical engineer for designing
                        scientifically-motivated algorithms and the full-stack web
                        development and cloud architecture. Here I took the opportunity
                        to work on a passion of mine, the sports science involved in
                        optimising the training of runners. We wanted to grow a company
                        as much as possible in the few months I had in-between finishing
                        my Master's and starting a PhD. We grew to several thousand
                        users and £5,000+ in successful funding before we had to shut
                        down when the PhD became too time consuming.
                    </p>
                </div>
                <div class="d-print-none">

                    {{/* <div class="pagebreak d-none d-print-block py-3"></div> */}}
                    <div class="px-4">
                        <h5>Engineering Intern | <a href="http://in-space.co.uk">In-Space</a> | 2019 &
                            2020
                        </h5>
                        <p>Fusion 360 &#183; Python &#183; Groovy &#183; Git (Bitbucket)
                            &#183; Circuitry &#183; Embedded Programming</p>
                        <p>
                            Involved in a variety of engineering projects in the lead up to
                            the launch of the FARADAY-1 satellite. Worked on pojects such
                            as: 1) Assembly, Integration and Testing (AIT), particularly RF
                            interference testing under different flight configurations.
                            Involved SDR scripting and FPGA programming. 2) Design of a
                            "flatsat" replica of spacecraft hardware, used for development
                            and debugging. Led the entire design life-cycle (under light
                            sanity-check supervision), inc. initial CAD drawings, production
                            of BoM, procurement, assembly and testing. 3) Physics problems,
                            e.g. Doppler-shift predictions for S-Band broadcast freqs
                            across groundstation flyby. I really enjoyed the opportunity to
                            work with and learn from people, all with a great passion and
                            decades of experience.
                        </p>
                    </div>
                    <div class="px-4">
                        <h5>Summer Studentship | University of Southampton | 2017 & 2018</h5>
                        <p>Python &#183; IDL &#183; UI &#183; Outreach</p>
                        <p>
                            I worked on a public outreach project, <a href="http://aurorazoo.org">Aurora Zoo</a>, where
                            members of the
                            public identify patterns in the Aurora filmed by a camera
                            situated in Svalbard, in the arctic circle.
                        </p>
                    </div>
                </div>
            </article>
            {{/* <div class="pagebreak py-3 d-none d-print-block"></div> */}}
            <article class="d-print-none">
                <h2>Oral Presentations</h2>
                <ul>
                    <li>Autumn MIST, London, UK, 2023</li>
                    <li>European Geosciences Union (EGU) General Assembly, Vienna, Austria, 2023, <a href="https://doi.org/10.5194/egusphere-egu23-6971
                        ">10.5194/egusphere-egu23-6971
                        </a></li>
                    <li>MMS Community Workshop, Florida, USA, 2022, <a
                            href="https://commons.erau.edu/mms-conference/2022/friday/21/">link</a></li>
                    <li>Autumn MIST, London, UK, 2022</li>
                    <li>National Astronomy Meeting, Warwick, UK, 2022</li>
                    <li>MMS Community Workshop, New Hampshire, USA, 2021</li>
                    <li>National Astronomy Meeting, 2021</li>
                    <li>Autumn MIST, 2021</li>
                </ul>
            </article>
            <article class="d-print-none">
                <h2>Teaching</h2>
                <ul>
                    <li>2021,2022: <a href="https://www.southampton.ac.uk/courses/modules/phys2022#aims">"Physics
                            from
                            Evidence"</a>
                        programming module for undergraduates teaching assistant and demonstrator, teaching
                        fundamentals
                        of programming in python</li>
                    <li>2022,2023: <a href="http://www.southampton.ac.uk/courses/modules/phys6008">"Physics from
                            Evidence II"</a> observational astronomy demonstrator, teaching data science and
                        statistics
                        in the context of analysing data from astronomy telescopes</li>
                    <li>2023: <a href="https://www.southampton.ac.uk/courses/modules/phys1022">"Electricity and
                            Magentism"</a>, <a href="https://www.southampton.ac.uk/courses/modules/phys1013">"Energy
                            and
                            Matter"</a>, <a href="https://www.southampton.ac.uk/courses/modules/phys1015">"Motion
                            and
                            Relativity"</a> and <a href="https://www.southampton.ac.uk/courses/modules/phys1011">"Waves,
                            Light and Quanta"</a> core physics tutor for undergraduates.
                    </li>
                </ul>
            </article>
            {{/* <div class="pagebreak py-3 d-none d-print-block"></div> */}}
            <article>
                <h2>Publications</h2>
                <div class="px-4">
                    <p><strong>Plank, J.</strong>, & Gingell, I. L. (2023).
                        Intermittency at Earth's bow shock: Measures of turbulence in
                        quasi-parallel and quasi-perpendicular shocks. Physics of Plasmas,
                        30(8). <a href="https://doi.org/10.1063/5.0160439">https://doi.org/10.1063/5.0160439</a></p>
                </div>
                <div class="px-4">
                    <p>Gingell, I., Schwartz, S. J., Kucharek, H., Farrugia, C. J.,
                        Fryer, L. J., <strong>Plank, J.</strong>, & Trattner, K. J. (2023).
                        Hybrid simulations of the decay of reconnected structures downstream
                        of the bow shock. Physics of Plasmas, 30(1). <a
                            href="https://doi.org/10.1063/5.0129084">https://doi.org/10.1063/5.0129084</a>
                    </p>
                </div>
                <div class="px-4">
                    <p>Coxon, J. C., Fear, R. C., Reidy, J. A., Fryer, L. J., &
                        <strong>Plank, J.</strong> (2021). Hot Plasma in the Magnetotail
                        Lobes Shows Characteristics Consistent With Closed Field Lines
                        Trapped in the Lobes. Journal of Geophysical Research: Space
                        Physics, 126(9). Portico. <a
                            href="https://doi.org/10.1029/2021ja029516">https://doi.org/10.1029/2021ja029516</a>
                    </p>
                </div>
            </article>
            <article>
                <h2>Media</h2>
                <div class="px-4">
                    <p>Shapiro, M. (2023). A turbulent journey toward understanding
                        space plasma dynamics. Scilight, 2023(35). <a
                            href="https://doi.org/10.1063/10.0020904">https://doi.org/10.1063/10.0020904</a>
                    </p>
                </div>
            </article>
        </div>
    </div>
</div>
{{ end }}