<div class="container-sm text-center py-2">
    <div class="row align-items-center">
        <div class="col">
            <span class="align-middle">Copyright {{ $.Site.Params.author }} {{ now.Year }}. All rights reserved.</span>
        </div>
        <div class="col">
            <button type="button" class="btn btn-light">
                <a href="#" class="termly-display-preferences">Consent Preferences</a>
            </button>
            <button type="button" class="btn btn-light">
                <a href="/privacy/">Privacy Notice</a>
            </button>
        </div>
    </div>
</div>