{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {{- range . }}
        {{- $attrs := dict "href" .URL "class" "nav-link"}}
        {{- if $page.IsMenuCurrent .Menu . }}
        {{- $attrs = merge $attrs (dict "class" "nav-link active" "aria-current" "page") }}
        {{- else if $page.HasMenuCurrent .Menu .}}
        {{- $attrs = merge $attrs (dict "class" "nav-link ancestor" "aria-current" "true") }}
        {{- end }}
        <li class="nav-item">
            <a {{- range $k, $v :=$attrs }} {{- with $v }} {{- printf " %s=%q" $k $v | safeHTMLAttr }} {{- end }} {{-
                end -}}>{{ or (T .Identifier) .Name | safeHTML }}</a>
        </li>
        {{- end }}
    </ul>
</div>
{{- end}}