<div class="nav-container">
  <header>
    <a href="/index.html" class="logo"
      ><img src="/images/personIcon.svg" alt="JP logo"
    /></a>
    <nav>
      <ul>
        <li>
          <a href="/pages/work/work.html">
            <img src="/images/work.svg" alt="" />
            <p>Work</p>
          </a>
        </li>
        <li>
          <a href="/pages/skills/skills.html">
            <img src="/images/skills.svg" alt="" />
            <p>Skills</p>
          </a>
        </li>
        <li>
          <a href="/pages/contact/contact.html">
            <img src="/images/contact.svg" alt="" />
            <p>Contact</p>
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <div class="social-header">
    <ul>
      <li><img src="#" alt="LinkedIn" /></li>
      <li><img src="#" alt="Twitter" /></li>
    </ul>
  </div>
</div>
