{{ define "main" }}
{{ partial "breadcrumb.html" . }}
<div>
    <div class="pb-6">
        <h1>{{ .Title }}</h1>
        <div class="p-2">
            {{ .Content }}
        </div>
    </div>
    <div class="pb-6">
        <h2>Sections</h2>
        {{ if .Sections }}
        <div class="p-6">
            {{ range .Sections }}
            <a href="{{ .RelPermalink }}" class="mr-4 text-[1.75rem]">{{ .LinkTitle }}</a>
            {{ end }}
        </div>
        {{ else }}
        <p>Nothing here...</p>
        {{ end }}
    </div>
    <div>
        <h2>Posts</h2>
        {{ if .RegularPages }}
        <div>
            <ul class="list-none divide-y divide-dark/20 p-0">
                {{ range .RegularPages }}
                <li class="pt-2 pb-6">
                    <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
        {{ else }}
        <p>Nothing here...</p>
        {{ end }}
    </div>
</div>
{{ end }}